.body1
{

    background-color: #c7bdff;
}
.f11
{
    display: flex;
    /* border-radius: 10px; */
}
.i11
{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
.ff11
{
    margin-left: 3cm;
    border-radius: 10px;
    border-color: #4a35be;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgb(207, 156, 247);
}
.ff21
{
    background-color: rgb(207, 156, 247);
    border-color: #4a35be;
    border-radius: 10px;
    margin-left: 5cm;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    backdrop-filter: blur(10px);
}
.btn11
{
    display:block;
    width:90%;
    padding:15px;
    background-color: #fbf9f9;
    color:#4a35be;
    border:none;
    border-radius:20px;
    font-size:20px;
    font-weight:600;
    opacity:0.8;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn21
{
    display:block;
    width:90%;
    padding:15px;
    background-color: #fbf9f9;
    color:#4a35be;
    border:none;
    border-radius:20px;
    font-size:20px;
    font-weight:600;
    opacity:0.8;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.login-btn1{
    margin-top:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.btn11:hover
{
    background-color: green;
    color: white;
}
.btn21:hover
{
    background-color: red;
    color: white;
}
.t11
{
    color: rgb(14, 14, 14);
}